# Logs
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
venv.bak/
env.bak/
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/

# Node
node_modules/
npm-debug.log*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
